.App {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* 투두리스트 */
ul, li, a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
  display: block;
}
button {
  all: unset;
  width: 100%;
  background-color: #ccc;
  padding: 5px 0;
  margin-top: 10px;
  text-align: center;
}
.contents-area{
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.contents-area > * {
  flex: 1 1 auto;
  /* border: 1px solid #ddd; */
}
.role-form {
  flex: 1 1 60px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.role-form input {
  line-height: 1.8em;
}
.item-list > .item {
  border: 2px solid #222;
  padding: 10px;
  margin-bottom: 10px;
}